.button-staff{
    background-color: white;
    color: #625031;
    border: 2px solid #625031; 
    border-radius: 8px;
    position: relative;
    width:300px;
    margin:auto;
    margin-top:30%;
}
.button-student{
    background-color: white;
    color: #835301;
    border: 2px solid #835301; 
    border-radius: 8px;
    position: relative;
    width:300px;
    margin:auto;
    margin-top:60%;
}
