
<ion-content class="background" center text-center>
<h1 class="title" size="large">CSLA</h1>

<h2 class="subtitle" size="large">CAMT Study Life Assistant</h2>
<!-- <img *ngIf="imageUrl" [src]="imageUrl"> -->
  <ion-button  expand="full" class="button-student" color="white" (click)="studentLogin()">
    {{ 'STUDENT' | translate }}
  </ion-button>
  <ion-button  expand="full" class="button-staff" color="white" (click)="studentLogin()">
    {{ 'ADMINISTRATOR' | translate }}
  </ion-button>
</ion-content>

<!-- <ion-item>
  <ion-label>Select Language</ion-label>
  <ion-select placeholder="Select One" [(ngModel)]="selectedLanguage" (ionChange)="languageChanged()">
    <ion-select-option value="en">English</ion-select-option>
    <ion-select-option value="cn">Chinese</ion-select-option>
  </ion-select>
</ion-item> -->